<main class="container container-fluid mt-5">
    <!-- Render the sub layout -->
    <div class="columns">
        <div class="column">
            <p class="bd-notification">Welcome</p>
            <div class="columns is-mobile">
                <div class="column is-one-quarter">
                    <div class="menu">
                        <p class="menu-label">
                            User Portal
                        </p>
                        <ul class="menu-list">
                            <li><a>My Stories</a></li>
                            <li><a>Favorites</a></li>
                            <li><a>Drafts</a></li>
                            <li><a>Recommended</a></li>
                        </ul>
                    </div>
                </div>
                <input type="hidden" id="prompt-id" name="prompt-id" value="{{prompt.id}}">
                <div class="column is-three-quarters">
                    <div class="hero-body">
                        <p class="title">
                            {{prompt.title}}
                        </p>
                        <p class="subtitle">
                            {{prompt.user.name}}
                        </p>
                        <div class="card">
                            <div class="card-content">
                                <div class="content">
                                    <div class="control">
                                        <div class="prompt">{{prompt.description}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="container ml-3 mt-3 pl-5">
                        <div class="comments">
                            {{#each prompt.comments as |comment|}}
                            {{#unless comment.parent_id}}
                            <div class="card ml-5">
                                <div class="card-content">
                                    <div class="content">
                                        <div class="control">
                                            <div> {{comment.body}} </div>
                                            <small>{{comment.user.name}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/unless}}
                                   {{#if comment.parent_id}}
                            <div class="card ml-5">
                                <div class="card-content">
                                    <div class="content">
                                        <div class="control">
                                            <div> {{comment.body}} </div>
                                            <small>{{comment.user.name}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                            {{/each}}
                        </div>
                        <div class="comments">
                            {{#each prompt.comments as |comment|}}
                     
                            {{/each}}
                        </div>
                         <div class="add-comment ml-5">
                        <form class="form new-project-form">
                            <div class="">
                                <div class="content">
                                    <p class="card-header-title">
                                        Comment
                                    </p>
                                    <textarea class="textarea" id='newcomment' placeholder="Enter your comment"
                                        rows="3"></textarea>
                                </div>
                                <footer class="card-footer mb-5">
                                    <button type="submit" class="card-footer-item" id="sub-comment">Submit Comment</button>
                                </footer>
                            </div>
                        </form>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</main>
<script src="./js/storyview.js"></script>